.padding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

body {
  margin: 0;
  background-color: #ebedef;
}

h1 {
  font-size: 44px;
  letter-spacing: 0.15em;
  font-family: monospace;
  color: grey;
}

.react-typewriter-text {
  text-align: center !important;
}

.scroll {
  justify-content: center;
  display: flex;
  align-items: center;
  animation: fadeIn 8s;
}

.margins {
  margin: 0 100px 40px;
}
