$smallSize: 75px;
$mediumSize: 100px;
$largeSize: 150px;
$xlSize: 175px;

.circle {
  background-color: #ebedef;
  border: 1px solid #52616b;
  height: 100px;
  border-radius: 50%;
  width: 100px;

  & a {
    font-size: 20px;
    text-align: center;
    margin: 0;
    display: block;
  }



  &.projects {
    position: fixed;
    top: 5%;
    left: 4%;
    height: $xlSize;
    width: $xlSize;
    animation: 1.5s ease 0s normal forwards 1 fadein;
    & a {
      line-height: $xlSize;
    }
  }

  &.about {
    position: fixed;
    top: 5%;
    right: 10%;
    width: $mediumSize;
    height: $mediumSize;
    animation: 2.25s ease 0s normal forwards 1 fadein;

    & a {
      line-height: $mediumSize;
    }
  }

  &.cv {
    position: fixed;
    top: 25%;
    right: 7%;
    width: $smallSize;
    height: $smallSize;
    animation: 2.5s ease 0s normal forwards 1 fadein;
    & a {
      line-height: $smallSize;
    }
  }
  &.contact {
    position: fixed;
    right: 15%;
    bottom: 5%;
    height: $mediumSize;
    width: $mediumSize;
    animation: 1.5s ease 0s normal forwards 1 fadein;
    & a {
      line-height: $mediumSize;
    }
  }
  &.experience {
    position: fixed;
    bottom: 15%;
    left: 6%;
    height: $largeSize;
    width: $largeSize;
    animation: 1s ease 0s normal forwards 1 fadein;
    & a {
      line-height: $largeSize;
    }
  }
}

.github {
  top: 40%;
  position: fixed;
  height: 50px;
  left: 5%;
  animation: 3s ease 0s normal forwards 1 fadein;
  &:hover {
    filter: invert(44%) sepia(71%) saturate(3249%) hue-rotate(166deg)
      brightness(101%) contrast(101%);
  }
}
.linkedin {
  bottom: 25%;
  position: fixed;
  height: 50px;
  right: 26%;
  animation: 3.25s ease 0s normal forwards 1 fadein;

  &:hover {
    filter: invert(44%) sepia(71%) saturate(3249%) hue-rotate(166deg)
      brightness(101%) contrast(101%);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
