.card {
  background-color: pink;
  border-radius: 25px;
  min-height: 400px;
  overflow-wrap: break-word;
  margin: 0 5%;

  margin-bottom: 20%;
  padding: 0 25px;

  @media (min-width: 1024px) {
    // width: 35%;
    margin-bottom: 60px;
    // height: 800px
    width: 400px;
  }
  @media (min-width: 1440px) {
    width: 450px;
  }

  & p {
    font-size: 1rem;
  }

  & h4 {
    margin: 0;
    padding-top: 50px;
  }

  & .image {
    padding-top: 10%;
    width: 100px;
  }
}

.cardLinkImage {
  height: 35px;
}

.projects {
  @media (min-width: 1024px) {
    height: 460px;
  }
}