.padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #b84c65;

}

// * {
//   font-size: 44px;
//   letter-spacing: 0.15em;
//   font-family: monospace;
//   color: grey;
// }

h1 {
  font-size: 36px;
  letter-spacing: 0.15em;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.react-typewriter-text {
  text-align: center !important;
}

.margins {
  margin: 0 40px 0 40px;
}

.scroll {
  position: absolute;
  bottom: 0;
  animation: beat 0.35s infinite alternate;
  transform-origin: center;
  margin-bottom: 50px;
}

@keyframes beat {
  to {
    transform: scale(1.5);
  }
}

.meImage {
  padding-top: 25px;
  height: 30%;
  top: 50%;
  position: fixed;
  // left: 40%;
  // transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: black;

  // &:visited {
  // }
  &:hover {
    color: pink;
  }
}

.backButton {
  font-size: 40px;
  position: relative;
  display: inline-block;
}

.content {
  text-align: center;
  margin-top: 5%;

  @media (min-width: 1025px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
}
