.aboutImage {
  width: 60%;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 51%);

  @media only screen and (min-width: 1024px) {
    width: 250px;
    padding-top: 0;
  }
}

.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.aboutText {
  @media only screen and (min-width: 1024px) {
    justify-content: center;
    align-items: center;
    max-width: 30vw;
  }
}

.About {
  background-color: #fff;
  @media only screen and (min-width: 1024px) {
    margin: 0;
    height: 400px;
  }
}

.about {
  background-color: #f6e5f5;
}
