.card {
  background-color: #f6e5f5;
  border-radius: 25px;
  min-height: 450px;
  overflow-wrap: break-word;
  margin: 0 5%;

  margin-bottom: 20%;
  padding: 15px 25px;

  @media (min-width: 1024px) {
    margin-bottom: 60px;
    width: 400px;
    height: 550px;
  }
  @media (min-width: 1440px) {
    width: 450px;
  }

  & p {
    font-size: 1rem;
  }

  & h4 {
    margin: 0;
    padding-top: 50px;
  }

  & .image {
    padding-top: 10%;
    height: 125px;
  }
}

.cardLinkImage {
  height: 35px;
}



.contactImage {
  padding-top: 0;

  & h4 {
    padding: 0;
  }
  & .cardLinkImage {
    width: 250px;
    height: 250px;
    margin-top: 10%;
    border-radius: 25px;

    @media (min-width: 1024px) {
      height: auto;
    }
  }
  background: none;
}
