.footer {
  margin-top: 50px;
  background-color: #f6e5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (min-width: 1024px) {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.logo {
  width: 20px;
}
