.form {
  background-color: pink;
  border-radius: 25px;
  padding: 25px;
  margin: 0 5%;

  @media only screen and (min-width: 1024px) {
    // width: 35%;
    margin-bottom: 60px;
    // height: 800px
    height: 400px;
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b84c65;
  opacity: 1; /* Firefox */
}

.checkMark {
  width: 40%;
  padding-top: 25px;

  @media only screen and (min-width: 1024px) {
    width: 200px;
    padding-top: 25px;
  }
}