@import "variables";

.nav {
  height: $navHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.8s all ease;
  width: 100vw;
  background-color: white;

  @media only screen and (min-width: 1024px) {
    transition-property: none;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 1;
  width: 100%;
}

.navLogo {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
  height: 42px;

  @media screen and (min-width: 1024px) {
    height: 50px;
  }
}

.burgerMenu {
  display: flex;
  margin-right: 24px;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.navMenu {
  font-size: 20px;
  padding-right: 25px;
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
  &:hover {
    border-bottom: 3px solid #f6e5f5;
  }



}
.active {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;

  border-bottom: 3px solid black;
  height: 100%;
  width: max-content;
}