@import "variables";

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;

  &.delayed {
    animation-delay: 2s;
  }
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

.introText {
  margin: 0;
  padding-top: calc(35% + $navHeight);

  @media only screen and (min-width: 1024px) {
    padding-top: calc(150px + $navHeight);
  }
}

.home {
  min-height: calc(100vh - 50px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.page {
  min-height: calc(100vh - $navHeight);
  // margin-top: -45px;
  padding-top: 50px;
}

.title {
  margin: 0;
}