.padding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: 'Lora', serif;
  font-weight: 100;
}

body {
  font-family: 'Lora', serif;
  text-align: center;
  color: #af042c;
  margin: 0;

}

h1 {
  font-size: 36px;
  letter-spacing: 0.15em;
  
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-size: 28px;
  font-weight: 100;
}

h4 {
  font-size: 24px;
  font-weight: 100;
}

h5 {
  font-size: 20px;
  font-weight: 100;
}

p {
  font-size: 16px;
  font-weight: 100;
}

.react-typewriter-text {
  text-align: center !important;
}

.margins {
  margin-bottom: 50px;
  // margin-left: 25px;
  // margin-right: 25px;
  margin-top: 50px
}

.scroll {
  position: absolute;
  bottom: 0;
}

@keyframes beat {
  to {
    transform: scale(1.5);
  }
}

.meImage {
  position: relative;
  width: 40%;
  

  @media only screen and (min-width: 1024px){
    width: 20%;
  }
}

a {
  text-decoration: none;
  color: #af042c;

}

.backButton {
  font-size: 40px;
  position: relative;
  display: inline-block;
}

.content {
  text-align: center;
  margin-top: 50px;

  @media (min-width: 1024px) {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    margin-left: 188px;
    margin-right: 188px;
  }
}

.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
}
