.sucess {
    background-color: pink;
    border-radius: 25px;
    padding: 25px;
    margin: 0 5%;

    @media (min-width:1024px) { 
        margin-bottom: 60px;
        height: 400px;
        width: 500px;
        margin-left: 0;
        margin-right: 0;
      }
}
